#profile_pic {
  font-family: "Silkscreen", cursive;
  border: 2mm solid black;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  top: 225px;
  left: 10px;
  background-color: white;
  position: absolute;
}


#profile_edit_input {
  left: 0;
  text-align: center;
  top: 10%;
  width: 100%;
  font-family: "Silkscreen", cursive;
}

#newPicSumbit {
  /* position: absolute;
  top: 10;
  left: 10; */
}

#newPicInput {
}
