
#choosetop{
  background-color: #000000;
  overflow-y: hidden;
}

#choose {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #4e148c;
  font-family: "Silkscreen", cursive;
  width: 100%;
  height: 100vh;
  font-size: 30px;
  overflow-y: hidden;
}

#choose_container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose_button{
  padding: 4px;
  width: 100%;
}

.welcome{
  font-size: 40px;
}