.caro {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 25px;
 background-color: black;
}

.caro_item {
  display: flex;
  align-items: center;
  justify-content: center;  
}

#store_name{
  color: #613dc1;
  font-family: 'Silkscreen', cursive;
  font-size: 100px;
  font-weight: 200;
} 



