.caro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  height: 400px;
  background-color: black;
}

.caro_item {
  /* display: flex !important; */
  /* float: none !important; */
  align-items: center !important;
  justify-content: center !important;
  /* background-color: red; */
}

#store_name {
  color: #613dc1;
  font-family: "Silkscreen", cursive;
  font-size: 100px;
  font-weight: 200;
}

.caro img {
  width: 350px;
  height: 350px;
  /* margin: auto; */
}
