#profile_pic {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  top: 9%;
  left: 100px;
  position: absolute;
}

#profile_pic img{
  border-radius: 50%;
  width: 190px;
  height: 190px;
  /* top: 50%; */
  left: 10px;
}

#profile_edit_input {
  left: 0;
  text-align: center;
  top: 10%;
  width: 100%;
  font-family: "Silkscreen", cursive;
}


